.bg-primary-400 {
  background-color: var(--clr-primary-400);
}

.bg-primary-500 {
  background-color: var(--clr-primary-500);
}

.bg-primary-600 {
  background-color: var(--clr-primary-600);
}

.bg-primary-700 {
  background-color: var(--clr-primary-700);
}

.bg-neutral-100 {
  background-color: var(--clr-neutral-100);
}

.bg-neutral-400 {
  background-color: var(--clr-neutral-400);
}

.bg-neutral-700 {
  background-color: var(--clr-neutral-700);
}

.bg-neutral-900 {
  background-color: var(--clr-neutral-900);
}

.text-primary-400 {
  color: var(--clr-primary-400);
}

.text-primary-500 {
  color: var(--clr-primary-500);
}

.text-primary-600 {
  color: var(--clr-primary-600);
}

.text-primary-700 {
  color: var(--clr-primary-700);
}

.text-neutral-100 {
  color: var(--clr-neutral-100);
}

.text-neutral-400 {
  color: var(--clr-neutral-400);
}

.text-neutral-700 {
  color: var(--clr-neutral-700);
}

.text-neutral-900 {
  color: var(--clr-neutral-900);
}

.text-line-through {
  text-decoration: line-through;
}

.fw-extra-light {
  font-weight: var(--fw-extra-light);
}

.fw-regular {
  font-weight: var(--fw-regular);
}

.fw-semi-bold {
  font-weight: var(--fw-semi-bold);
}

.fs-body {
  font-size: var(--fs-body);
}

.ff-primary {
  font-family: var(--ff-primary);
}

.ff-heading {
  font-family: var(--ff-heading);
}

.fs-400 {
  font-size: var(--fs-400);
}

.fs-500 {
  font-size: var(--fs-500);
}

.fs-600 {
  font-size: var(--fs-600);
}

.fs-700 {
  font-size: var(--fs-700);
}

.fs-800 {
  font-size: var(--fs-800);
}

.fs-900 {
  font-size: var(--fs-900);
}

.flex {
  display: flex;
}

.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-space-around {
  justify-content: space-around;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.text-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}
